#myCanvas
{   
	background-image:url('../Images/Backgrounds/aqua.jpg');
	height: 700px;
	left: 0;
	position: absolute;
	top: 0;
	width: 1300px;
}

#hero
{
	position:absolute;
	left:0;
	top:0;
	height:34;
	width:82;
}