@font-face {

	font-family: Aquanaut;

	src: url('../Fonts/Aquanaut.ttf');

}



html
{

	background-color: LightCyan ;

}


#game
{

	background-image:url('../Images/Backgrounds/aqua.png');

	background-repeat: no-repeat;

   	width: 800px;

	margin-left: -400px;

	margin-top: 84px;

	left: 50%;

	position: absolute;


}


#frame
{

	background-image:url('../Images/Backgrounds/frame.png');

	background-repeat: no-repeat;

   	width: 944px;
	
	height: 761px;

	margin-left: -472px;

	left: 50%;

	position: absolute;

	

}

#doswiadczenie{
	
	font-family: Aquanaut;
	font-size: 2em;
	margin-left: 30%;
	position: absolute;
	margin-top: 770px;
	
}

#level{

	font-family: Aquanaut;
	font-size: 2em;
	margin-left: 30%;
	position: absolute;
	margin-top: 810px;

}

#punkty{
	
	font-family: Aquanaut;
	font-size: 2em;
	margin-left: 30%;
	position: absolute;
	margin-top: 850px;

}

#statystyki_podwyzszanie{

	text-align: center; 
	margin-left: 55%;
	position: absolute;
	margin-top: 775px;

}


#szybkosc{

	font-family: Aquanaut;
	font-size: 2em;
	text-align: center; 
	margin-left: 62%;
	position: absolute;
	margin-top: 770px;

}

#sila{

	font-family: Aquanaut;
	font-size: 2em;
	text-align: center; 
	margin-left: 62%;
	position: absolute;
	margin-top: 810px;

}

#inteligencja{

	font-family: Aquanaut;
	font-size: 2em;
	text-align: center; 
	margin-left: 62%;
	position: absolute;
	margin-top: 850px;

}