html{
	background-image:url('../Images/Backgrounds/aqua.png');

	background-repeat: no-repeat;
}

#game
{
	height: 600px;

	left: 0;

	position: absolute;

	top: 0;

	width: 800px;

}



#hero
{
	
	position:absolute;

	color:red;
	text-align: center;
	font-size: 1.4em;
	font-family: Verdana, Geneva, sans-serif;	
	left:0;
	
	top:0;
		
	height:60;

	width:60;

}

#plankton{
	position: absolute;
	left:0;
	
	top:0;
	
}

#doswiadczenie{
	position: fixed;
	top: 850px;
}

#level{
	position: fixed;
	top: 870px;
}