html
{

	background-color: LightCyan ;

}


#game
{

	background-image:url('../Images/Backgrounds/aqua.png');

	background-repeat: no-repeat;

   	width: 800px;

	margin-left: -400px;

	left: 50%;

	position: absolute;


}


#frame
{

	background-image:url('../Images/Backgrounds/frame.png');

	background-repeat: no-repeat;

   	width: 910px;

	margin-left: -455px;

	left: 50%;

	position: absolute;

	

}

#doswiadczenie{

	margin-left: 30%;
	position: absolute;
	margin-top: 620px;
	
}

#level{

	margin-left: 30%;
	position: absolute;
	margin-top: 640px;

}